.main-content {
    display: grid;
    /* gap: 32px; */
    grid-template-columns: 1fr 1fr;
}


.apresentacao {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 32px;
    justify-content: center;
}

.img-perfil {
    justify-self: center;
    object-fit: cover;
    max-width: 300px;
    /* max-height: 700px; */
    display: flex;
    justify-content: center;
    /* filter: grayscale(100%); */
}

.img-perfil img {
    width: 100%;
    border-radius: 4px;
}


.almejos {
    display: grid;
    justify-content: center;
}




@media (max-width:400px) {
    .img-perfil {
        max-width: 200px;
    }
}