.apresentacao {
    display: grid;
    gap: 32px;
    justify-content: center;
}

.img-perfil {
    justify-self: center;
    max-width: 500px;
    display: flex;
    justify-content: center;
}

.img-perfil img {
    width: 100%;
    border-radius: 4px;
}

.apresentacao-content,
.trajetoria-content {
    max-width: 75ch;
    padding: 16px 16px;
    background-color: var(--cor-c1);
    border-radius: 4px;
}

.trajetoria-content {
    padding: 16px 16px 0 16px;
}

.apresentacao-content p,
.trajetoria-content p {
    text-align: justify;
}


.trajetoria-content  p{
    margin-bottom: 16px;
}



/* Footer */
.footer {
    display: flex;
    justify-content: center;
    gap: 16px;
    border-top: 2px solid var(--cor-c4);
    padding: 16px 0 0 0 ;
}

.footer div {
    transition: all 0.3s ease;
 }

 .footer div:hover {
    color: var(--cor-c3);
 }


@media (max-width:400px) {
    .img-perfil {
        max-width: 200px;
    }
}
